<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bikes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'homepage.css' )}}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTTVO1ugwObWvyie4GITw1l9SEZBaPTec&callback=initMap" async defer></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
</head>

<body>
     <header>
        <div class="header_container">
            <div >
                <img src="/static/logo.png" alt="Dublin Bikes Logo" width="150" height="150" />
{#                <h1 id="dublin_bikes" style="text-align: center" onclick="closeStation()">Dublin Bikes</h1>#}

            </div>


            <nav class="navbar">
                <ul>
                    <li STYLE="padding-right: 30px"><a href="#"  onclick="closeStation()">HOME</a></li>
                    <li><a href="#"  onclick="showStation()">STATIONS</a></li>
                </ul>
            </nav>
        </div>
        <div class="left_side">
            <div class="left_component" id="weather">
                import weather later
            </div>

{#            <div class="left_component" id="starting_point">#}
{#                <label for="starting_point" style="display: block;"> Please enter your starting point.</label>#}
{##}
{#                <input type="text" id="start" placeholder="Starting Point">#}
{#            </div>#}
{#            <div class="left_component" id="destination">#}
{#                <label for="destination" style="display: block;"> Please enter your destination.</label>#}
{##}
{#                <input type="text" id="end" placeholder="Destination">#}
{#            </div>#}
{#            <div class="left_component" >#}
{#                <button id="find_route" onclick="findRoute()"> Go Now!</button>#}
{#            </div>#}

            <div class="form-container">
              <div>
                <div class="input-container">
                  <input type="text" id="start" placeholder="Start">
                </div>
                <div class="input-container">
                  <input type="text" id="end" placeholder="End">
                </div>
                <button onclick="findRoute()" class="submit-btn">go ></button>
              </div>
            </div>
        </div>
    </header>

    <div class="detail">

        <div id="map" style="display: block">
            GoogleMap
        </div>
        <div id="station" style="margin:auto;display:none">




    </div>

</body>

</html>
